* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000; /* Legit just here to make the nav pure black for the home page :P */
}



/* ============================================================ 

SHARED CSS STYLING

============================================================ */
/* Shared grid styling */
.trends-grid, .typo-grid, .layout-grid, .reflection-grid{
  display: grid;
  margin: 0 auto;

}
/* Shared card styling */
.trend-card, .typo-card, .layout-card, .reflection-card{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow:
    0 15px 25px #000,
    0 0 20px #33aac266;
  border: 2px solid #0f60c9;
}

/* Shared img styling */
.trend-card img, .typo-card img, .layout-card img, .reflection-card img{
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease, filter 0.4s ease;
  filter: brightness(75%)
}

/* Shared hover effects */
.trend-card:hover, .typo-card:hover, .layout-card:hover, .reflection-card:hover{
  box-shadow:
    0 20px 35px #000000cc,
    0 0 30px #faea0b99;
  border: 2px solid #ffee0099;
}

/* Shared img hover effects */
.trend-card:hover img, .typo-card:hover img, .layout-card:hover img, .reflection-card:hover img{
  transform: scale(1.05);
  filter: brightness(90%);
}

/* Shared "content" styling this is to make text overlay over img yis */
.trend-content, .typo-content{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2em;
  background: linear-gradient(180deg, transparent 40%, #000000cc 100%);
  border-radius: 20px;
}

/* Shared heading and paragraph font stuff */
h2, h3{
  font-family: "Oxanium", sans-serif;
  color: #faea0b;
  font-weight: 700;
}
p {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  color: #eaeaea;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* Shared page backgrounds */
.trends, .typography, .layout, .contact{
  background-image: url("Cyberpunky\ page\ bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* ============================================================ 

NAVIGATION

============================================================ */
/* Nav bar "POPART WEBPAGE" Logo thingy */
.logo {
  font-family: "Space Mono", monospace;
  font-size: 2.25em;
  color: #fff;
  letter-spacing: 2px;
}
.logo span {
  color: #Faea0b;
}

/* Nav bar itself */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background: #000000cc;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1.5em;
}
nav li{
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-size: 1.25em;
  color: #fff;
  letter-spacing: 1px;
  padding-left: 1em;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #faea0b;
  transition: color 0.3s ease;
}

nav a:hover, nav a.active {
  color: #00b7ff;
}

nav a.active{
  position: relative;
}
nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background: #00b7ff;
  box-shadow: 
    0 0 10px #00b7ff;
  border-radius: 5px;
  transition: width 0.3s ease;
}

nav a:hover::after{
  width:100%
}
nav a.active::after{
  width:100%
}



/* ============================================================ 

LANDING/HOME PAGE

============================================================ */
.landing, .below-landing {
  text-align: center;
}
.landing{
  background-image: url("Cyberpunk 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 21em 2em;
}

.below-landing{
  background: #000;
  padding: 15em 2em;
}
.below-landing p{
  color: #faea0b;

}

/* Glowing Cyberpunk Edgerunners title */
.animated-title, .animated-title-2 {
  font-family: "Oxanium", sans-serif;
  animation: glow 2s ease-in-out infinite alternate;
}
@keyframes glow {
  from { text-shadow: 0 0 10px #fff, 0 0 20px #00ffdd; }
  to { text-shadow: 0 0 10px #69f830, 0 0 30px #38ec83; }
}
.animated-title{
  font-size: 10em;
  color: #faea0b;
}
.animated-title-2{
  padding-left: 12em;
  font-size: 3em;
  color: #000;
  letter-spacing: 20px;
}

/* Home Page paragraphs/text */
.Cyberpunk-desc, .explore-btn{
  font-family: "Rajdhani", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  padding: 2em;
  margin-left: 4em;
  margin-right: 4em;
  letter-spacing: 1px;
}

/* Button leading to Visual Trends Page */
.explore-btn {
  display: inline-block;
  margin-top: 0.5in; 
  padding: 0.5em 1.25em;
  color:#faea0b;
  text-decoration: none;
  border-radius: 5px;
  animation: glow 2s ease-in-out infinite alternate;
  transition: color 0.3s ease;
}

.explore-btn:hover {
  color: #00b7ff;
  text-shadow:
    0 0 5px #f1c40f,
    0 0 10px #f1c40f,
    0 0 20px #f1c40f;
}

/* Divider line */
hr.solid{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}



/* ============================================================ 

VISUAL TRENDS PAGE

============================================================ */
/* Trends grid */
.trends-grid{
  grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
  gap: 3em;
  padding: 4em;
  max-width: 1600px;
}

.trend-card img{
  width: 100%;
  height: 600px;
}

.trend-content h2{
  font-size: 2.25em;
  margin-bottom: 0.4em;
}
.trend-content p{
  font-size: 1.35em;
}

/* Trend card hover effects */
.trend-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(-3deg);
}



/* ============================================================ 

COLORS & TYPOGRAPHY PAGE

============================================================ */
/* Typography and Colors grid */
.typo-grid {
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  gap: 3em;
  padding: 4em;
  max-width: 1400px;
}

.typo-card img{
  width: 100%;
  height: 600px;
}

.typo-content h2{
  font-size: 2em;
  margin-bottom: 0.4em;
}
.typo-content p{
  font-size: 1.25em;
}

/* Typo card hover effects */
.typo-card:hover {
  transform: scale(1.02);
}
.typo-card:hover::before {
  transform: translate3d(5px, 5px, -20px);
}
.typo-card:hover::after {
  transform: translate3d(10px, 10px, -40px);
}



/* ============================================================

LAYOUT PAGE

============================================================ */
/* Layout grid */
.layout-grid {
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 2em;
  padding: 4em;
  max-width: 2000px;
  perspective: 1400px;
}

.layout-card img{
  height: 350px;
}

/* Big Layout Card */
.big-layout-card {
  grid-column: 1 / -1;
}
.big-layout-card img {
  height: 800px;
}

/* To make text be within/hover over the image */
.layout-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em;
  background: linear-gradient(to top, #000000cc, transparent);
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.layout-content h3 {
  font-size: 1.75em;
  margin: 0 0 0.4em 0;
}
.layout-content p {
  font-size: 1.25em;
}

/* Layout card hover effects */
.layout-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(-3deg);
}
.layout-card:hover::before {
  transform: translate3d(5px, 5px, -20px);
}
.layout-card:hover::after {
  transform: translate3d(10px, 10px, -40px);
}



/* ============================================================ 

REFLECTION PAGE

============================================================ */
/* Reflection grid tho it's actually flex sooo, name continuing for continuity :P */
.reflection-grid{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
  max-width: 900px;
}

.reflection-card{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #000, #1a1a1a);

}
.reflection-card img{
  width: 40%;
  height: 100%;
}

.reflection-content {
  color: #fff;
  font-family: "Oxanium", sans-serif;
  padding: 1em 2em;
}
.reflection-content h2 {
  font-size: 1.75em;
  margin: 0 0 0.4em 0;
}
.reflection-content p {
  font-size: 1.05em;
}

/* Reflection card hover effects */
.reflection-card:hover{
  transform: scale(1.02);
}

/* ============================================================
RESPONSIVE DESIGN FIXES FOR LAPTOPS
============================================================ */

/* For screens smaller than 1600px (most laptops) */
@media (max-width: 1600px) {
  .animated-title {
    font-size: 7em;
  }
  .animated-title-2 {
    font-size: 2em;
    padding-left: 6em;
  }

  .trends-grid {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }

  .typo-grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .layout-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .trend-card img,
  .typo-card img {
    height: 450px;
  }
}

/* For medium laptops / smaller screens */
@media (max-width: 1200px) {
  .animated-title {
    font-size: 5em;
  }
  .animated-title-2 {
    font-size: 1.75em;
    padding-left: 2em;
    letter-spacing: 10px;
  }

  .landing {
    padding: 12em 1em;
  }
  .below-landing {
    padding: 8em 1em;
  }

  .trends-grid,
  .typo-grid,
  .layout-grid {
    padding: 2em;
    gap: 2em;
  }

  .trend-card img,
  .typo-card img,
  .layout-card img {
    height: auto;
  }
}

/* For smaller laptop/tablet widths (under 992px) */
@media (max-width: 992px) {
  nav {
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }

  .animated-title {
    font-size: 3.5em;
  }
  .animated-title-2 {
    font-size: 1.25em;
    padding-left: 0;
  }

  .Cyberpunk-desc {
    font-size: 1.25em;
    margin: 0 1em;
  }

  .trends-grid,
  .typo-grid,
  .layout-grid {
    grid-template-columns: 1fr;
    max-width: 95%;
    margin: 0 auto;
  }

  .reflection-grid {
    padding: 2em 1em;
  }

  .reflection-card {
    flex-direction: column;
  }
  .reflection-card img {
    width: 100%;
  }
}

/* For smaller screens (under 600px) */
@media (max-width: 600px) {
  .animated-title {
    font-size: 2.5em;
  }
  .animated-title-2 {
    font-size: 1em;
  }

  .explore-btn {
    font-size: 1em;
  }
}